.userMessage {
    padding: 8px;
    margin: 10px;
    background: #76897f;
    border-radius: 10px;
    color: aliceblue;
}

.userMessage .status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    /*background: yellow;*/
}

div span:last-child {
    font-weight: bold;
}

.userMessage .time {
    display: flex;
    justify-content: end;
    color: black;
    font-weight: bold;
    padding-right: 20px;
}

/*.userMessage p::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 7%;*/
/*    left: 1%;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    background: #ffe707;*/
/*    border-radius: 50%;*/
/*}*/